@media screen and (max-width: 1200px){
    /* body{
        background-color: green !important;
    } */
    /* .header__main__wrapper{
        background-color: brown;
    } */
    header.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100; /* Ensure the header is on top */
        
      }

      .default-margins{
        margin: 0px 50px 0px 50px;
      }

      /* header */
      .header__desktop__wrapper{
       display: none;
        }
        .header__tablet__mobile{
            display: block;
            padding-top: 20px;
        }
    .header__tablet__mobile__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.mobile__nav--style a{
  color: var(--pantone);
  font-size: 14px;
  line-height: 20px;
  font-family: AcuminSemibold;
  letter-spacing: 3.6px;
  text-decoration: none;
}
    .header__logo{
        width: 117px;
        height: auto;
    }

    .hamburger__menu{
        width: 28px;
        height: auto;
    }

.mobile--toggle{
    background-color: var(--primary-color);
    width:70%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.close__menu__wrapper{
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-top: 10px;
}
.close__menu{
    width: 28px;
    height: auto;
}

.header__mobile__items__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 70px;
}
    /* end header */

    /* homepage */
    /* sec 1 */
    .home__section__1__bgcolor{
        background-color: var(--primary-color);
      }
      
    .home__section__1__bg {
        height: 100%;
        min-height: 50vh;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 30px;
        
      }

      .home__section__1__text{
        margin-left: 50px;
        position: relative;
        top: 120px;
      }
      .home__section__1__text h1{
      color: var(--moroco-moonlight);
      font-size: 40px;
      line-height: 60px;
      letter-spacing: 0;
      text-transform: capitalize;
      font-family: RosellaSolid;
      max-width: 409px;
      }
      .hero__button{
        background-color: var(--pantone);
        border: none;
        border-radius: 10px;
        color: var(--moroco-moonlight);
        padding: 10px 12px 6px 12px;
        font-size: 14px;
        line-height: 25px;
        font-family: AcuminSemibold;
        width: 96px;
      }
    /* end sec 1 */
    /* sec 3 */
    .home__section__3__wrapper{
        display: flex;
       
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-left: 30px;
        margin-right: 30px;
      }
    .home__sec2_image{
        width: 100%;
        max-width: 355px;
        height: auto;
      }
      .home__section__3__text__Wrapper{
        max-width: 352px;
      }
      .home__section__3__text__Wrapper h2{
        font-size: 40px;
        line-height: 50px;
        max-width: 353px;
        font-family: RosellaSolid;
        color: var(--moroco-moonlight);
        letter-spacing: 0px;
      }
      .home__section__3__text__Wrapper p{
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0px;
        color: var(--moroco-moonlight);
        font-family: AcuminRegular;
        padding-top: 30px;
      }
      .home__section__3__text__Wrapper button{
        background-color: var(--languiso);
        color: var(--moroco-moonlight);
        font-size: 14px;
        letter-spacing: 2.8px;
        line-height: 25px;
        text-transform: uppercase;
        /* width: 154px;
        height: 53px; */
        border: none;
        border-radius: 10px;
        font-family: AcuminSemibold;
        cursor: pointer;
        padding: 8px 8px 5px 8px;
      margin-top: 30px;
      }
    /* end sec 3 */

    /* sec 4 */
    .home__section__4__wrapper h3{
      font-size: 30px;
      line-height: 40px;
      font-family: RosellaSolid;
      color: var(--hunter-white);
      max-width: 705px;
      text-shadow: 0px 3px 6px #00000029;
      text-transform: capitalize;
      margin-bottom: 30px;
    }
    .home__section__4__forbes{
      width: 161px;
      height: auto;
    }
    /* end sec 4 */
    /* logo slider */
    .home__logo__slider{
      background-color: #9DC4CE;
    }
    
    /* end logo slider */
    /* sec 6 */
    .home__shop__main{
      display: flex;
    }

    .home__shop__bot{
      width: 64px;
      height: auto;
    }
    
    .home__shop__bot__main{
      max-width: 273px;
      height: auto;
    }

    @media screen and (max-width: 760px){
      .home__shop__bot{
        width: 50px;
        height: auto;
      }
      .home__shop__bot__main{
        max-width: 200px;
        height: auto;
      }
    }


.home__section__6__heading__wrapper{
  padding-top: 20px;
}
.home__section__6__heading__wrapper h3{
  font-size: 30px;
  line-height: 40px;
  color: #283831;
  text-transform: uppercase;
  font-family: RosellaSolid;
  max-width: 302px;
  letter-spacing: 0px;
}

.home__section__6__subheading p{
  font-size: 18px;
  line-height: 24px;
  color: #283831;
  letter-spacing: 0px;
  max-width: 262px;
  font-family: AcuminRegular;
}

.home__section__6--button button{
  background-color: #B57D50;
  border: none;
  border-radius: 10px;
  color: #F2F3F3;
  letter-spacing: 3.6px;
  font-size: 14px;
  line-height: 25px;
  font-family: AcuminSemibold;
  padding: 8px 8px 6px 8px;
  cursor: pointer;
}

.col__type{
  font-size: 15px;
  line-height: 20px;
  color: #283831;
  font-family: RosellaSolid;
  letter-spacing: 0px;
  max-width: 120px;
}

.col__description{
  font-size: 14px;
  line-height: 20px;
  color: #283831;
  font-family: AcuminRegular;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.max__w--1{
  max-width: 139px;
  }
  .max__w--2{
  max-width: 104px;
  }
  .max__w--3{
    max-width: 122px;
  }

  .home__section__6__add{
    padding-top: 100px;
  }

  .home__section__6__add__shop__wrapper{
    display: flex;
    gap: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
  }


.home__section__6__add__heading h3{
  font-size: 15px;
  line-height: 20px;
  max-width: 305px;
  letter-spacing: 0px;
  color: #283831;
  text-transform: uppercase;
  font-family: RosellaSolid;
}

.home__add__shop{
  width: 145px;
  height: auto;
}

.home__add__shop__col__1 h3{
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #283831;
  max-width: 145px;
  font-family: RosellaSolid;
  padding-top: 20px;
}

.home__add__shop__col__2 h3{
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #283831;
  max-width: 145px;
  font-family: RosellaSolid;
  padding-top: 20px;
}

.home__add__shop__col__1 button{
  background-color: #ABD3C2;
  border: none;
  border-radius: 10px;
  color: #212720;
  letter-spacing: 3.6px;
  font-size: 12px;
  line-height: 25px;
  font-family: AcuminSemibold;
  padding: 8px 8px 4px 8px;
  cursor: pointer;
  margin-top: 20px;
}

.home__add__shop__col__2 button{
  background-color: #ABD3C2;
  border: none;
  border-radius: 10px;
  color: #212720;
  letter-spacing: 3.6px;
  font-size: 12px;
  line-height: 25px;
  font-family: AcuminSemibold;
  padding: 8px 8px 4px 8px;
  cursor: pointer;
  margin-top: 20px;
}
    /* end sec 6 */

    /* sec 7 */
    .home__section__7__heading h1{
      font-size: 30px;
      line-height: 40px;
      font-family: RosellaSolid;
      color: var(--moroco-moonlight);
      max-width: 605px;
      text-align: center;
    
    }

    .home__7__images__1{
      max-width: 398px;
      width: 100%;
      height: auto;
    }
    .home__7__images__2{
      max-width: 626px;
      width: 100%;
      height: auto;
    }
    .home__7__images__3{
      max-width: 398px;
      width: 100%;
      height: auto;
    }
    /* end sec 7 */
/* sec 8 */
.section__8__bg{
  background-color: var(--hunter-white);
}
.home__section__8__heading_mobile{
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.home__section__8__heading_mobile h2{
  font-size: 30px;
  line-height: 40px;
  font-family: RosellaSolid;
  color: #283831;
  max-width: 705px;
  letter-spacing: 0px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.home__section__8__heading_mobile p{
  padding-top: 30px;
  padding-bottom: 40px;
  margin-bottom: 20px;
font-size: 25px;
line-height: 36px;
max-width: 705px;
color: #283831;
text-align: center;
font-family: AcuminRegular;
}

.home__section__8__desktop{
    display: none;
}

.home__section__8__mobiletab{
    display: block;
}
.home__section__8__caption__wrapper__mobile{
text-align: center;
}
.home__section__8__caption__wrapper__mobile h3{
  font-size: 25px;
  line-height: 36px;
  font-family: RosellaSolid;
  color: #283831;
  letter-spacing: 0px;
  text-transform: capitalize;
  max-width: 385px;
}
.home__section__8__mobile--button{
  padding-top: 40px;
  padding-bottom: 40px;
}
.home__section__8__mobile--button button{
  font-size: 14px;
  line-height: 25px;
  color: #ECE2D8;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  font-family: AcuminSemibold;
  background-color: #B57D50;
  border: none;
  border-radius: 10px;
  padding: 6px 10px 4px 10px;
  
}
/* .home__section__8__mobiletab__wrapper{
    
} */
.home__8__images{
    width: 389px;
    max-width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .home__section__8__mobile--button{
  display: flex;
  justify-content: center;
  }
/* end sec 8 */
    .home__section__9__wrapper{
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    .home__sec9_image{
        width: 168px;
        max-width: 100%;
        height: auto;
      }
      .home__section__9__text{
        font-size: 30px;
        line-height: 40px;
      }
      
      .home__section__9__subtext{
        font-size: 25px;
        line-height: 35px;
      }
      .home__section__9__image__wrapper{
        display: flex;
        gap: 30px;
        margin-top: 30px;
      }
      @media screen and (max-width: 900px){
        .home__sec9_image{
            width: 148px;
            max-width: 100%;
            height: auto;
          }
        .home__section__9__image__wrapper{
            display: flex;
            gap: 10px;
            margin-top: 30px;
          }
      }

      @media screen and (max-width: 700px){
        .home__sec9_image{
            width: 128px;
            max-width: 100%;
            height: auto;
          }
        .home__section__9__image__wrapper{
            display: flex;
            gap: 10px;
            margin-top: 30px;
          }
      }
    /* end homepage */

    /* footer */

    .footer__second__col__wrapper{
      display: flex;
      flex-direction: row;
      gap: 50px;
      margin-right: 50px;
  
    }
    .footer__col__1 a{
      font-size: 14px;
      line-height: 25px;
      text-decoration: none;
      color: #ECE2D8;
      font-family: AcuminRegular;
    }

    .footer__col__2 a{
      font-size: 14px;
      line-height: 25px;
      text-decoration: none;
      color: #ECE2D8;
      font-family: AcuminRegular;
    }

    .footer__col__3 a{
      font-size: 14px;
      line-height: 25px;
      text-decoration: none;
      color: #ECE2D8;
      font-family: AcuminRegular;
    }
    /* end footer */
}